#iqac_tab {
    font-size: 3.5vh;
}
#naac_tab {
    font-size: 3.5vh;
}
#home_tab {
    font-size: 3.5vh;
}
#back_div {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  height: 70vh;
}

#head_1 {
  font-size: 3.5vw;
/*   font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  color: #ffffff;
  position: absolute;
  top: 70vh;
  left: 18vw;
}
#vision_cont {
  text-align: left;
  color: #525252;
  font-size: 1.2vw;

}

#vision_cont_new {
  text-align: left;
  color: #525252;
  font-size: 1.2vw;

}

#vision {
  text-align: left;
/*   font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  font-size: 1.7vw;
  color: #525252;
}
#valval1 {
  text-align: left;
/*   font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  font-size: 1.7vw;
  color: #525252;
  position: absolute;
  left: 1.5vw;
  top: -8vh;
}
#valval2 {
  text-align: left;
/*   font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  font-size: 1.7vw;
  color: #525252;
  position: absolute;
  left: 30.2vw;
  top: -8vh;
}
/* #valval3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7vw;
  color: #525252;
  position: absolute;
  left: 65.3vw;
  top: 9vh;

}
 */
#misvis {
  position: absolute;
  top: 100vh;
}
#aimobj {
  position: absolute;
  top: 180vh;
  background-color: #CACACA;
  height: 115vh;
}

#accordionFlushExample {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  width: 18vw;
}

#vals {
  position: absolute;
  top: 25vh;
  left: 6vw;
}

#naac_button {
  position: absolute;
  top: 100vh;
  left: 47vw;
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

#naac_button:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}


#iqac_button {
  position: absolute;
  top: 10vh;
  left: 47vw;
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(225deg);
  transition: border-width 150ms ease-in-out;
  
}

#iqac_button:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

#naac_name {
  position: absolute;
  top: 97vh;
  left: 47.3vw;
  font-size: 1.6vw;
  color: #FFFFFF;
}

#iqac_name {
  position: absolute;
  top: 18vh;
  left: 47.8vw;
  font-size: 1.6vw;
  color: #FFFFFF;
  
}
#naac_stuff {
   position: absolute;
   top: 295vh;
   background-color: #000000;
   height: 90vh;
   display: none;
}
html {
  scroll-behavior: smooth;
}
